body{
    padding: 100px 100px;
    background-color: black;
}
.container{
    background-color: aqua;
    text-align: center;
    border-radius: 20px;
    padding:100px;
}
h1{
    text-align: center;
    background-color: rgb(42, 85, 122);
    color: aliceblue;
    border-radius: 20px;

}
.row{
    display: inline-block;
}
label{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
input{
    margin: 5px 10px;
    padding: 10px 10px;
    width: 400px;
    text-align: center;
    font-size:30px;
    font-weight: bold;

}


